<div class="bg-white">
        <footer class="bg-primary bg-opacity-10 text-center text-white">
                <div class="container p-4 pb-0 d-flex align-items-center justify-content-between">
                        <div class="d-none d-md-block">
                                <img src="../../../assets/images/mykart-logo.png" alt="Bootstrap" width="150"
                                        height="70">
                                <p class="text-black-50 fw-bold fs-5">Shop with us online</p>
                        </div>
                        <section class="mb-4">
                                <p class="text-black-50 fw-bold fs-5 mb-0">Follow us :</p>
                                <a class="btn btn-floating m-1" href="#!" role="button"><i class="bi bi-facebook fs-3"
                                                style="color: #3b5998;"></i></a>
                                <a class="btn btn-floating m-1" href="#!" role="button"><i class="bi bi-twitter fs-3"
                                                style="color: #55acee;"></i></a>
                                <a class="btn btn-floating m-1" href="#!" role="button"><i class="bi bi-google fs-3"
                                                style="color: #dd4b39;"></i></a>
                                <a class="btn btn-floating m-1" href="#!" role="button"><i class="bi bi-instagram fs-3"
                                                style="color: #ac2bac;"></i></a>

                                <a class="btn btn-floating m-1" href="#!" role="button"><i class="bi bi-linkedin fs-3"
                                                style="color: #0082ca;"></i></a>
                                <a class="btn btn-floating m-1" href="#!" role="button"><i class="bi bi-github fs-3"
                                                style="color: #333333;"></i></a>
                        </section>
                </div>
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);"> @pratiksonone | All Rights
                        Reserved
                </div>
        </footer>
</div>