.scroll-section {
  height: 380px;
  max-width: 300px;
}
.scroll-section::-webkit-scrollbar-thumb {
  background-color: rgb(180, 188, 205);
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}
.scroll-section::-webkit-scrollbar {
  width: 16px;
}
.active {
  background-color: #497bfd;
}
.active span {
  background-color: #cf3535 !important;
}
li:hover {
  cursor: pointer;
  font-weight: Bold;
}
.side-bar-section {
  min-width: 250px;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.accordion-button:focus {
  z-index: 1;
  box-shadow: none;
}
